body {
    color: rgb(17, 17, 17);
    font-size: 17px;
    section#home-section {
        margin-left: 88px;
    }
    .link-text {
        text-decoration: none;
        color: black;
    }
    .sns-button-area {
        display: flex;
        .button {
            width: 40px;
            height: 40px;
            margin-left: 2px;
            box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.4);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            a {
                font-size: 1.5em;
                color: white;
            }
            &:hover {
                color: black;
                a::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: orange;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }
            }
        }
    }
}
